body
{
background-image: url(background.jpg);
background-position: right;
background-attachment: fixed;
background-repeat: no-repeat;
padding: 20px
}

p
{
text-align: center
background-color: #ff799c;
width: 180px;
border: 4px double black;
    background: #ff799c;
    padding: 5px;
}