<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Actor</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<p><a href="/startPage" methods="GET"><---Back to the startPage</a></p>
<p><a href="/findAll" methods="GET">Actors (show all)</a></p>
<table border=1>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Date Of Birth</th>
        <th>Date Of Death</th>
        <th>Sex(male)</th>
        <th>Country</th>
        <th>Number Of Films</th>
        <th>Change number of films</th>
        <th>Add date of death</th>
    </tr>
    <tr>
        <td>
            <form th:method="DELETE" th:action="@{/deleteByID}" th:object="${actor}">
                <input type="hidden" name="id" th:value="${actor.id}"/>
                <input type="submit" value="Delete record"/>
            </form>
        </td>
        <td th:text="${actor.id}"></td>
        <td th:text="${actor.name}"></td>
        <td th:text="${actor.lastName}"></td>
        <td th:text="${actor.dateOfBirth}"></td>
        <td th:text="${actor.dateOfDeath}"></td>
        <td th:text="${actor.sex}"></td>
        <td th:text="${actor.country}"></td>
        <td th:text="${actor.numberOfFilms}"></td>
        <td>
            <form method="POST" th:object="${actor}" th:action="@{/updateNumberOfFilmsByID}">
                <input type="hidden" name="id" th:value="${actor.id}"/>
                <input type="number" id="numberOfFilms" name="numberOfFilms" th:value="${actor.numberOfFilms}"/>
                <button type="submit">Change</button>
            </form>
        </td>
        <td>
            <form method="POST" th:object="${actor}" th:action="@{/updateDeathDateByID}">
                <input type="hidden" name="id" th:value="${actor.id}"/>
                <input type="date" id="dateOfDeath" name="dateOfDeath"
                       th:value="${actor.dateOfDeath}"/>
                <button type="submit">Add</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>