<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Actors</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<p><a href="/startPage" methods="GET"><---Back to the startPage</a></p>
<p><a href="/insertActor/createForm" methods="GET">Create a new record</a></p>
<p><a href="/findAll" methods="GET">Actors (show all)</a></p>
<br>
<table border="1">
    <td bgcolor="yellow">
        <form action="/findByID" method="get">
            <label for="id">ID</label>
            <input type="number" id="id" name="id">
            <input type="submit" value="Find by ID">
        </form>
    </td>
    <td bgcolor="red">
        <form action="/findByNameAndSurname" method="get">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="lastName">Lastname</label>
            <input type="text" id="lastName" name="lastName">
            <input type="submit" value="Find by Name">
        </form>
    </td>
</table>
<br>
<table border=1>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Date Of Birth</th>
        <th>Date Of Death<br> <a th:href="@{/findDeadActor}">(Show the died)</a></th>
        <th>Sex(male)</th>
        <th>Country</th>
        <th>Number Of Films<br> <a href="/findTopActors?top=10">Top 10</a></th>
    </tr>
    <tr th:each="actor : ${actors}">
        <td th:text="${actor.id}"></td>
        <td th:text="${actor.name}"></td>
        <td th:text="${actor.lastName}"></td>
        <td th:text="${actor.dateOfBirth}"></td>
        <td th:text="${actor.dateOfDeath}"></td>
        <td>
            <form th:action="@{/findBySex?__${actor.sex}__}" method="get">
                <input type="hidden" name="sex" th:value="${actor.sex}"/>
                <input type="submit" th:value=${actor.sex} class="btn btn-danger"/>
            </form>
        </td>
        <td>
            <form th:action="@{/findByCountry?__${actor.country}__}" method="get">
                <input type="hidden" name="country" th:value="${actor.country}"/>
                <input type="submit" th:value=${actor.country} class="btn btn-danger"/>
            </form>
        </td>
        <td th:text="${actor.numberOfFilms}"></td>
        <td>
            <form th:action="@{/findByID?__${actor.id}__}" method="get">
                <input type="hidden" name="id" th:value="${actor.id}"/>
                <input type="submit" value="About actor" class="btn btn-danger"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>