<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConfirmPage</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<p><a href="/startPage" methods="GET"><---Back to the startPage</a></p>
<p><a href="/findAll">Show the list of actors</a></p>
<p><a href="/insertActor/createForm" methods="GET">Create a new record</a></p>
Operation successful
</body>
</html>