<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Actor</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<p><a href="/startPage" methods="GET"><---Back to the startPage</a></p>
<p><a href="/findAll">Show the list of actors</a></p>
<table border=10>
    <td>
        <form action="#" th:action="@{/insertActor}" th:object="${actor}" method="POST">
            <p>Name: <input type="text" th:field="*{name}"/>
                Lastname: <input type="text" th:field="*{lastName}"/>
                Sex(male): <input type="checkbox" th:field="*{sex}" checked/></p>
            <p>Date Of Birth: <input type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                                     th:field="*{dateOfBirth}"/>
                Date Of Death: <input type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                                      th:field="*{dateOfDeath}"></p>
            <p>Country: <input type="text" th:field="*{country}"/>Number Of Films: <input type="number"
                                                                                          th:field="*{numberOfFilms}"/>
            </p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>
    </td>
    <td></td>
    <td>
        <form action="#" th:action="@{/insertActor}" th:object="${actor}" method="POST">
            <p>Name: <input type="text" th:field="*{name}"/>
                Lastname: <input type="text" th:field="*{lastName}"/>
                Sex(male): <input type="checkbox" th:field="*{sex}" checked/></p>
            <p>Date Of Birth: <input type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                                     th:field="*{dateOfBirth}"/></p>
            <p>Country: <input type="text" th:field="*{country}"/>
                Number Of Films: <input type="number" th:field="*{numberOfFilms}"/></p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>
    </td>
</table>
</body>
</html>