<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Form</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<div align="center">
<form method="POST" th:action="@{/deleteByIDPage}">
    <input type="number" name="id"/>
    <input type="submit" value="Delete record"/>
</form>
</div>
</body>
</html>