<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<p><a href="/findAll">Show the list of actors</a></p>
<p><a href="/insertActor/createForm" methods="GET">Create a new record</a></p>
<p><a href="/deleteByID/delete">Delete record by ID</a></p>
</body>
</html>
